Debug/*
Release/*
Backup/*
_UpgradeReport_Files/*
ipch/*

*.aps
*.ncb
*.def
*.sdf
*.bak

rcodec.vcproj.TRIC.ding.user
rcodec.vcxproj.filters
rcodec.v11.suo

UpgradeLog.htm
UpgradeLog.XML


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app